(
    pieces: [
        (
            cell: (
                x: -6,
                y: 1,
            ),
            a: W,
            b: E,
        ),
        (
            cell: (
                x: -4,
                y: 0,
            ),
            a: SE,
            b: NW,
        ),
        (
            cell: (
                x: -5,
                y: 1,
            ),
            a: W,
            b: SE,
        ),
        (
            cell: (
                x: -3,
                y: -1,
            ),
            a: E,
            b: NW,
        ),
        (
            cell: (
                x: -1,
                y: -1,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: 0,
                y: -1,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: 1,
                y: -1,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: 2,
                y: -1,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: -2,
                y: -1,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: 3,
                y: -1,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: 4,
                y: -1,
            ),
            a: NE,
            b: W,
        ),
        (
            cell: (
                x: 5,
                y: 0,
            ),
            a: SW,
            b: E,
        ),
    ],
    switches: [],
    signals: [],
)