(
    pieces: [
        (
            cell: (
                x: 1,
                y: -5,
            ),
            a: S,
            b: W,
        ),
        (
            cell: (
                x: 0,
                y: -3,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: 0,
                y: -2,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: 0,
                y: -1,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: 0,
                y: 0,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: 0,
                y: 1,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: 0,
                y: -4,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: 0,
                y: 2,
            ),
            a: S,
            b: W,
        ),
        (
            cell: (
                x: -1,
                y: 2,
            ),
            a: N,
            b: E,
        ),
        (
            cell: (
                x: 0,
                y: -5,
            ),
            a: N,
            b: E,
        ),
        (
            cell: (
                x: -1,
                y: 3,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: -1,
                y: 4,
            ),
            a: N,
            b: S,
        ),
    ],
    switches: [],
    signals: [],
)