(
    pieces: [
        (
            cell: (
                x: -4,
                y: 0,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: -3,
                y: 0,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: -2,
                y: 0,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: -1,
                y: 0,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: 0,
                y: 0,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: -5,
                y: 0,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: 1,
                y: 0,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: 3,
                y: 0,
            ),
            a: W,
            b: E,
        ),
        (
            cell: (
                x: 4,
                y: 0,
            ),
            a: W,
            b: E,
        ),
        (
            cell: (
                x: 4,
                y: 1,
            ),
            a: W,
            b: E,
        ),
        (
            cell: (
                x: 3,
                y: 1,
            ),
            a: SW,
            b: E,
        ),
    ],
    switches: [
        (
            cell: (
                x: 2,
                y: 0,
            ),
            stem: W,
            branches: (E, NE),
            default_branch: 0,
            rules: [
                (
                    when: DestIs((0)),
                    branch: 1,
                ),
                (
                    when: DestIs((1)),
                    branch: 0,
                ),
            ],
        ),
    ],
    signals: [],
)