(
    pieces: [],
    switches: [],
    signals: [
        (
            cell: (
                x: -2,
                y: 1,
            ),
            at: E,
            kind: Chain,
            priority: 0,
        ),
        (
            cell: (
                x: -2,
                y: -1,
            ),
            at: E,
            kind: Chain,
            priority: 0,
        ),
    ],
)