(
    pieces: [
        (
            cell: (
                x: -4,
                y: 0,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: -3,
                y: 0,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: -2,
                y: 0,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: -1,
                y: 0,
            ),
            a: E,
            b: W,
        ),
        (
            cell: (
                x: -5,
                y: 0,
            ),
            a: W,
            b: E,
        ),
        (
            cell: (
                x: 0,
                y: 0,
            ),
            a: W,
            b: E,
        ),
        (
            cell: (
                x: 4,
                y: 0,
            ),
            a: W,
            b: E,
        ),
        (
            cell: (
                x: 2,
                y: 1,
            ),
            a: W,
            b: E,
        ),
        (
            cell: (
                x: 1,
                y: 0,
            ),
            a: W,
            b: N,
        ),
        (
            cell: (
                x: 3,
                y: 1,
            ),
            a: W,
            b: S,
        ),
        (
            cell: (
                x: 3,
                y: 0,
            ),
            a: N,
            b: E,
        ),
        (
            cell: (
                x: 1,
                y: 1,
            ),
            a: E,
            b: S,
        ),
    ],
    switches: [],
    signals: [],
)