(
    pieces: [
        (
            cell: (
                x: 0,
                y: 4,
            ),
            a: S,
            b: N,
        ),
        (
            cell: (
                x: 0,
                y: 3,
            ),
            a: S,
            b: N,
        ),
        (
            cell: (
                x: 0,
                y: 0,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: 0,
                y: -1,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: 0,
                y: -2,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: 0,
                y: 1,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: 0,
                y: -3,
            ),
            a: N,
            b: S,
        ),
        (
            cell: (
                x: 1,
                y: -6,
            ),
            a: S,
            b: N,
        ),
        (
            cell: (
                x: -1,
                y: -6,
            ),
            a: S,
            b: NE,
        ),
        (
            cell: (
                x: 0,
                y: -5,
            ),
            a: N,
            b: SW,
        ),
        (
            cell: (
                x: 1,
                y: -5,
            ),
            a: NW,
            b: S,
        ),
        (
            cell: (
                x: -1,
                y: 6,
            ),
            a: SE,
            b: N,
        ),
        (
            cell: (
                x: 1,
                y: 6,
            ),
            a: W,
            b: N,
        ),
        (
            cell: (
                x: 0,
                y: 6,
            ),
            a: E,
            b: S,
        ),
        (
            cell: (
                x: -1,
                y: 3,
            ),
            a: W,
            b: SE,
        ),
    ],
    switches: [
        (
            cell: (
                x: 0,
                y: -4,
            ),
            stem: N,
            branches: (S, SE),
            default_branch: 0,
            rules: [],
        ),
        (
            cell: (
                x: 0,
                y: 2,
            ),
            stem: S,
            branches: (N, NW),
            default_branch: 0,
            rules: [
                (
                    when: DestIs((0)),
                    branch: 1,
                ),
                (
                    when: DestIs((1)),
                    branch: 0,
                ),
                (
                    when: DestIs((2)),
                    branch: 0,
                ),
            ],
        ),
        (
            cell: (
                x: 0,
                y: 5,
            ),
            stem: S,
            branches: (N, NW),
            default_branch: 0,
            rules: [
                (
                    when: DestIs((1)),
                    branch: 1,
                ),
                (
                    when: DestIs((2)),
                    branch: 0,
                ),
            ],
        ),
    ],
    signals: [
        (
            cell: (
                x: 0,
                y: -5,
            ),
            at: N,
            kind: Block,
            priority: 0,
        ),
        (
            cell: (
                x: 1,
                y: -5,
            ),
            at: NW,
            kind: Block,
            priority: 0,
        ),
        (
            cell: (
                x: 0,
                y: 1,
            ),
            at: N,
            kind: Block,
            priority: 0,
        ),
        (
            cell: (
                x: 0,
                y: -4,
            ),
            at: N,
            kind: Block,
            priority: 0,
        ),
    ],
)