#![enable(unwrap_newtypes, implicit_some)]
(
    pieces: [
        (cell: (x: 1, y: 0), a: W, b: E),
        (cell: (x: 3, y: 0), a: W, b: E),
        (cell: (x: 3, y: 1), a: SW, b: N),
    ],
    switches: [
        (cell: (x: 2, y: 0), stem: W, branches: (E, NE), default_branch: 0, rules: [
            (when: DestIs(1), branch: 1),
        ]),
    ],
    signals: [],
)