#![enable(unwrap_newtypes, implicit_some)]
(
    pieces: [
        (cell: (x: 2, y: 0), a: W, b: E),
        (cell: (x: 2, y: 1), a: SW, b: SE),
    ],
    switches: [
        (cell: (x: 1, y: 0), stem: W, branches: (E, NE), default_branch: 0, rules: []),
        (cell: (x: 3, y: 0), stem: E, branches: (W, NW), default_branch: 1, rules: []),
    ],
    signals: [
        (cell: (x: 1, y: 0), at: E, kind: Block),
        (cell: (x: 2, y: 0), at: E, kind: Block),
        (cell: (x: 3, y: 0), at: NW, kind: Block),
        (cell: (x: 2, y: 1), at: SW, kind: Block),
    ],
)