#![enable(unwrap_newtypes, implicit_some)]
(
    pieces: [
        (cell: (x: 1, y: 0), a: W, b: E),
        (cell: (x: 2, y: 0), a: W, b: E),
        (cell: (x: 2, y: 0), a: N, b: S),
        (cell: (x: 3, y: 0), a: W, b: E),
    ],
    switches: [],
    signals: [
        (cell: (x: 1, y: 0), at: E, kind: Chain),
        (cell: (x: 2, y: -1), at: N, kind: Chain),
        (cell: (x: 3, y: 0), at: E, kind: Block),
    ],
)