(
    meta: (
        schema_version: 1,
        chapter: 1,
        order: 40,
        optional_hard: false,
        briefing: "Lassen Sie die Züge nicht kollidieren. Nutzen Sie die Gleise und Signale sparsam.",
    ),
    sim: (
        name: "1.4 Verwindende Strecke",
        buildable: [
            (
                x: -2,
                y: -6,
            ),
            (
                x: -2,
                y: -5,
            ),
            (
                x: -2,
                y: -4,
            ),
            (
                x: -2,
                y: -3,
            ),
            (
                x: -2,
                y: -2,
            ),
            (
                x: -2,
                y: -1,
            ),
            (
                x: -2,
                y: 0,
            ),
            (
                x: -2,
                y: 1,
            ),
            (
                x: -2,
                y: 2,
            ),
            (
                x: -2,
                y: 3,
            ),
            (
                x: -2,
                y: 4,
            ),
            (
                x: -2,
                y: 5,
            ),
            (
                x: -1,
                y: -6,
            ),
            (
                x: -1,
                y: -5,
            ),
            (
                x: -1,
                y: -4,
            ),
            (
                x: -1,
                y: -3,
            ),
            (
                x: -1,
                y: -2,
            ),
            (
                x: -1,
                y: -1,
            ),
            (
                x: -1,
                y: 0,
            ),
            (
                x: -1,
                y: 1,
            ),
            (
                x: -1,
                y: 2,
            ),
            (
                x: -1,
                y: 3,
            ),
            (
                x: -1,
                y: 4,
            ),
            (
                x: -1,
                y: 5,
            ),
            (
                x: 0,
                y: -6,
            ),
            (
                x: 0,
                y: -5,
            ),
            (
                x: 0,
                y: -4,
            ),
            (
                x: 0,
                y: -3,
            ),
            (
                x: 0,
                y: -2,
            ),
            (
                x: 0,
                y: -1,
            ),
            (
                x: 0,
                y: 0,
            ),
            (
                x: 0,
                y: 1,
            ),
            (
                x: 0,
                y: 2,
            ),
            (
                x: 0,
                y: 3,
            ),
            (
                x: 0,
                y: 4,
            ),
            (
                x: 0,
                y: 5,
            ),
            (
                x: 1,
                y: -6,
            ),
            (
                x: 1,
                y: -5,
            ),
            (
                x: 1,
                y: -4,
            ),
            (
                x: 1,
                y: -3,
            ),
            (
                x: 1,
                y: -2,
            ),
            (
                x: 1,
                y: -1,
            ),
            (
                x: 1,
                y: 0,
            ),
            (
                x: 1,
                y: 1,
            ),
            (
                x: 1,
                y: 2,
            ),
            (
                x: 1,
                y: 3,
            ),
            (
                x: 1,
                y: 4,
            ),
            (
                x: 1,
                y: 5,
            ),
            (
                x: 2,
                y: -6,
            ),
            (
                x: 2,
                y: -5,
            ),
            (
                x: 2,
                y: -4,
            ),
            (
                x: 2,
                y: -3,
            ),
            (
                x: 2,
                y: -2,
            ),
            (
                x: 2,
                y: -1,
            ),
            (
                x: 2,
                y: 0,
            ),
            (
                x: 2,
                y: 1,
            ),
            (
                x: 2,
                y: 2,
            ),
            (
                x: 2,
                y: 3,
            ),
            (
                x: 2,
                y: 4,
            ),
            (
                x: 2,
                y: 5,
            ),
        ],
        fixed: (
            pieces: [
                (
                    cell: (
                        x: -1,
                        y: 5,
                    ),
                    a: S,
                    b: N,
                ),
                (
                    cell: (
                        x: 1,
                        y: 5,
                    ),
                    a: S,
                    b: N,
                ),
                (
                    cell: (
                        x: 1,
                        y: -6,
                    ),
                    a: S,
                    b: N,
                ),
                (
                    cell: (
                        x: 0,
                        y: 0,
                    ),
                    a: NW,
                    b: SE,
                ),
                (
                    cell: (
                        x: -1,
                        y: 1,
                    ),
                    a: SE,
                    b: N,
                ),
                (
                    cell: (
                        x: 1,
                        y: -1,
                    ),
                    a: NW,
                    b: S,
                ),
                (
                    cell: (
                        x: 1,
                        y: -3,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 1,
                        y: -2,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -2,
                        y: 0,
                    ),
                    a: W,
                    b: SE,
                ),
                (
                    cell: (
                        x: 2,
                        y: -3,
                    ),
                    a: W,
                    b: E,
                ),
                (
                    cell: (
                        x: 1,
                        y: -3,
                    ),
                    a: E,
                    b: NW,
                ),
                (
                    cell: (
                        x: 0,
                        y: -2,
                    ),
                    a: SE,
                    b: NW,
                ),
                (
                    cell: (
                        x: -1,
                        y: -1,
                    ),
                    a: SE,
                    b: NW,
                ),
                (
                    cell: (
                        x: 0,
                        y: 0,
                    ),
                    a: SW,
                    b: NE,
                ),
                (
                    cell: (
                        x: -1,
                        y: -1,
                    ),
                    a: SW,
                    b: NE,
                ),
                (
                    cell: (
                        x: -2,
                        y: -6,
                    ),
                    a: S,
                    b: N,
                ),
            ],
            switches: [],
            signals: [],
        ),
        sources: [
            (
                id: (0),
                cell: (
                    x: -1,
                    y: 5,
                ),
                dir: N,
                label: "Start 1",
            ),
            (
                id: (1),
                cell: (
                    x: 1,
                    y: 5,
                ),
                dir: N,
                label: "Start 2",
            ),
            (
                id: (2),
                cell: (
                    x: -2,
                    y: 0,
                ),
                dir: W,
                label: "Start 3",
            ),
        ],
        sinks: [
            (
                id: (0),
                cell: (
                    x: 1,
                    y: -6,
                ),
                dir: S,
                label: "Ziel 1",
            ),
            (
                id: (2),
                cell: (
                    x: 2,
                    y: -3,
                ),
                dir: E,
                label: "Ziel 3",
            ),
            (
                id: (3),
                cell: (
                    x: -2,
                    y: -6,
                ),
                dir: S,
                label: "Ziel 2",
            ),
        ],
        schedule: [
            (
                train: (0),
                class: (0),
                length: (1300),
                speed: (100),
                source: (0),
                sink: (0),
                depart: (0),
                due: (142),
            ),
            (
                train: (1),
                class: (0),
                length: (1520),
                speed: (120),
                source: (1),
                sink: (3),
                depart: (10),
                due: (152),
            ),
            (
                train: (2),
                class: (0),
                length: (1080),
                speed: (90),
                source: (2),
                sink: (2),
                depart: (65),
                due: (172),
            ),
        ],
        par: (throughput: (163), material: 22, lateness: 0),
    ),
)