(
    meta: (
        schema_version: 1,
        chapter: 1,
        order: 60,
        optional_hard: true,
        briefing: "4 Züge müssen um ein Hinderniss herumgeführt werden. Die Strecke ist, also denke gut an Ausweich(en)mögichkeiten.",
    ),
    sim: (
        name: "1.6 Hindernisse und Weichen",
        buildable: [
            (
                x: -6,
                y: -1,
            ),
            (
                x: -6,
                y: 0,
            ),
            (
                x: -5,
                y: -1,
            ),
            (
                x: -5,
                y: 0,
            ),
            (
                x: -4,
                y: -1,
            ),
            (
                x: -4,
                y: 0,
            ),
            (
                x: -3,
                y: -1,
            ),
            (
                x: -2,
                y: -1,
            ),
            (
                x: -1,
                y: -1,
            ),
            (
                x: 0,
                y: -1,
            ),
            (
                x: 1,
                y: -1,
            ),
            (
                x: 2,
                y: -1,
            ),
            (
                x: 3,
                y: -1,
            ),
            (
                x: 3,
                y: 0,
            ),
            (
                x: 4,
                y: -1,
            ),
            (
                x: 4,
                y: 0,
            ),
            (
                x: 4,
                y: 1,
            ),
            (
                x: 5,
                y: -1,
            ),
            (
                x: 5,
                y: 0,
            ),
            (
                x: 5,
                y: 1,
            ),
            (
                x: -2,
                y: 0,
            ),
            (
                x: -1,
                y: 0,
            ),
            (
                x: 0,
                y: 0,
            ),
            (
                x: 1,
                y: 0,
            ),
        ],
        fixed: (
            pieces: [],
            switches: [],
            signals: [],
        ),
        sources: [
            (
                id: (0),
                cell: (
                    x: -6,
                    y: 0,
                ),
                dir: W,
                label: "WEST",
            ),
        ],
        sinks: [
            (
                id: (0),
                cell: (
                    x: 5,
                    y: 1,
                ),
                dir: E,
                label: "OST 1",
            ),
            (
                id: (1),
                cell: (
                    x: 5,
                    y: -1,
                ),
                dir: E,
                label: "OST 2",
            ),
        ],
        schedule: [
            (
                train: (0),
                class: (0),
                length: (800),
                speed: (110),
                source: (0),
                sink: (0),
                depart: (0),
                due: (80),
            ),
            (
                train: (1),
                class: (1),
                length: (1000),
                speed: (90),
                source: (0),
                sink: (1),
                depart: (20),
                due: (90),
            ),
            (
                train: (2),
                class: (0),
                length: (700),
                speed: (100),
                source: (0),
                sink: (0),
                depart: (40),
                due: (100),
            ),
            (
                train: (3),
                class: (0),
                length: (1000),
                speed: (90),
                source: (0),
                sink: (1),
                depart: (60),
                due: (110),
            ),
        ],
        par: (
            throughput: (0),
            material: 0,
            lateness: 0,
        ),
    ),
)