(
    meta: (
        schema_version: 1,
        chapter: 1,
        order: 80,
        optional_hard: false,
        briefing: "Sichern Sie alle Kreuzungen mit Signalen, um Kollisionen zu vermeiden.",
    ),
    sim: (
        name: "1.8 Mehr Signale",
        buildable: [
            (
                x: -10,
                y: -3,
            ),
            (
                x: -10,
                y: -2,
            ),
            (
                x: -10,
                y: -1,
            ),
            (
                x: -10,
                y: 0,
            ),
            (
                x: -10,
                y: 1,
            ),
            (
                x: -10,
                y: 2,
            ),
            (
                x: -10,
                y: 3,
            ),
            (
                x: -9,
                y: -3,
            ),
            (
                x: -9,
                y: -2,
            ),
            (
                x: -9,
                y: -1,
            ),
            (
                x: -9,
                y: 0,
            ),
            (
                x: -9,
                y: 1,
            ),
            (
                x: -9,
                y: 2,
            ),
            (
                x: -9,
                y: 3,
            ),
            (
                x: -8,
                y: -3,
            ),
            (
                x: -8,
                y: -2,
            ),
            (
                x: -8,
                y: -1,
            ),
            (
                x: -8,
                y: 0,
            ),
            (
                x: -8,
                y: 1,
            ),
            (
                x: -8,
                y: 2,
            ),
            (
                x: -8,
                y: 3,
            ),
            (
                x: -7,
                y: -3,
            ),
            (
                x: -7,
                y: -2,
            ),
            (
                x: -7,
                y: -1,
            ),
            (
                x: -7,
                y: 0,
            ),
            (
                x: -7,
                y: 1,
            ),
            (
                x: -7,
                y: 2,
            ),
            (
                x: -7,
                y: 3,
            ),
            (
                x: -6,
                y: -3,
            ),
            (
                x: -6,
                y: -2,
            ),
            (
                x: -6,
                y: -1,
            ),
            (
                x: -6,
                y: 0,
            ),
            (
                x: -6,
                y: 1,
            ),
            (
                x: -6,
                y: 2,
            ),
            (
                x: -6,
                y: 3,
            ),
            (
                x: -5,
                y: -3,
            ),
            (
                x: -5,
                y: -2,
            ),
            (
                x: -5,
                y: -1,
            ),
            (
                x: -5,
                y: 0,
            ),
            (
                x: -5,
                y: 1,
            ),
            (
                x: -5,
                y: 2,
            ),
            (
                x: -5,
                y: 3,
            ),
            (
                x: -4,
                y: -3,
            ),
            (
                x: -4,
                y: -2,
            ),
            (
                x: -4,
                y: -1,
            ),
            (
                x: -4,
                y: 0,
            ),
            (
                x: -4,
                y: 1,
            ),
            (
                x: -4,
                y: 2,
            ),
            (
                x: -4,
                y: 3,
            ),
            (
                x: -3,
                y: -3,
            ),
            (
                x: -3,
                y: -2,
            ),
            (
                x: -3,
                y: -1,
            ),
            (
                x: -3,
                y: 0,
            ),
            (
                x: -3,
                y: 1,
            ),
            (
                x: -3,
                y: 2,
            ),
            (
                x: -3,
                y: 3,
            ),
            (
                x: -2,
                y: -3,
            ),
            (
                x: -2,
                y: -2,
            ),
            (
                x: -2,
                y: -1,
            ),
            (
                x: -2,
                y: 0,
            ),
            (
                x: -2,
                y: 1,
            ),
            (
                x: -2,
                y: 2,
            ),
            (
                x: -2,
                y: 3,
            ),
            (
                x: -1,
                y: -3,
            ),
            (
                x: -1,
                y: -2,
            ),
            (
                x: -1,
                y: -1,
            ),
            (
                x: -1,
                y: 0,
            ),
            (
                x: -1,
                y: 1,
            ),
            (
                x: -1,
                y: 2,
            ),
            (
                x: -1,
                y: 3,
            ),
            (
                x: 0,
                y: -3,
            ),
            (
                x: 0,
                y: -2,
            ),
            (
                x: 0,
                y: -1,
            ),
            (
                x: 0,
                y: 0,
            ),
            (
                x: 0,
                y: 1,
            ),
            (
                x: 0,
                y: 2,
            ),
            (
                x: 0,
                y: 3,
            ),
            (
                x: 1,
                y: -3,
            ),
            (
                x: 1,
                y: -2,
            ),
            (
                x: 1,
                y: -1,
            ),
            (
                x: 1,
                y: 0,
            ),
            (
                x: 1,
                y: 1,
            ),
            (
                x: 1,
                y: 2,
            ),
            (
                x: 1,
                y: 3,
            ),
            (
                x: 2,
                y: -3,
            ),
            (
                x: 2,
                y: -2,
            ),
            (
                x: 2,
                y: -1,
            ),
            (
                x: 2,
                y: 0,
            ),
            (
                x: 2,
                y: 1,
            ),
            (
                x: 2,
                y: 2,
            ),
            (
                x: 2,
                y: 3,
            ),
            (
                x: 3,
                y: -3,
            ),
            (
                x: 3,
                y: -2,
            ),
            (
                x: 3,
                y: -1,
            ),
            (
                x: 3,
                y: 0,
            ),
            (
                x: 3,
                y: 1,
            ),
            (
                x: 3,
                y: 2,
            ),
            (
                x: 3,
                y: 3,
            ),
            (
                x: 4,
                y: -3,
            ),
            (
                x: 4,
                y: -2,
            ),
            (
                x: 4,
                y: -1,
            ),
            (
                x: 4,
                y: 0,
            ),
            (
                x: 4,
                y: 1,
            ),
            (
                x: 4,
                y: 2,
            ),
            (
                x: 4,
                y: 3,
            ),
            (
                x: 5,
                y: -3,
            ),
            (
                x: 5,
                y: -2,
            ),
            (
                x: 5,
                y: -1,
            ),
            (
                x: 5,
                y: 0,
            ),
            (
                x: 5,
                y: 1,
            ),
            (
                x: 5,
                y: 2,
            ),
            (
                x: 5,
                y: 3,
            ),
            (
                x: 6,
                y: -3,
            ),
            (
                x: 6,
                y: -2,
            ),
            (
                x: 6,
                y: -1,
            ),
            (
                x: 6,
                y: 0,
            ),
            (
                x: 6,
                y: 1,
            ),
            (
                x: 6,
                y: 2,
            ),
            (
                x: 6,
                y: 3,
            ),
            (
                x: 7,
                y: -3,
            ),
            (
                x: 7,
                y: -2,
            ),
            (
                x: 7,
                y: -1,
            ),
            (
                x: 7,
                y: 0,
            ),
            (
                x: 7,
                y: 1,
            ),
            (
                x: 7,
                y: 2,
            ),
            (
                x: 7,
                y: 3,
            ),
            (
                x: 8,
                y: -3,
            ),
            (
                x: 8,
                y: -2,
            ),
            (
                x: 8,
                y: -1,
            ),
            (
                x: 8,
                y: 0,
            ),
            (
                x: 8,
                y: 1,
            ),
            (
                x: 8,
                y: 2,
            ),
            (
                x: 8,
                y: 3,
            ),
            (
                x: 9,
                y: -3,
            ),
            (
                x: 9,
                y: -2,
            ),
            (
                x: 9,
                y: -1,
            ),
            (
                x: 9,
                y: 0,
            ),
            (
                x: 9,
                y: 1,
            ),
            (
                x: 9,
                y: 2,
            ),
            (
                x: 9,
                y: 3,
            ),
        ],
        fixed: (
            pieces: [
                (
                    cell: (
                        x: -9,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: 1,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: 2,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: 3,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: 4,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: 5,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: 6,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: 7,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: 8,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: -10,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: 9,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: -1,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: -2,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: -3,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: -4,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: -5,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: -6,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: -7,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: 0,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: -8,
                        y: 0,
                    ),
                    a: E,
                    b: W,
                ),
                (
                    cell: (
                        x: -7,
                        y: 2,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -7,
                        y: 1,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -7,
                        y: 0,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -7,
                        y: -1,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -7,
                        y: -2,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -7,
                        y: 3,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -7,
                        y: -3,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -3,
                        y: 2,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -3,
                        y: 1,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -3,
                        y: 0,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -3,
                        y: -1,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -3,
                        y: -2,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -3,
                        y: 3,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: -3,
                        y: -3,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 1,
                        y: 2,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 1,
                        y: 1,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 1,
                        y: 0,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 1,
                        y: -1,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 1,
                        y: -2,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 1,
                        y: 3,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 1,
                        y: -3,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 5,
                        y: 2,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 5,
                        y: 1,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 5,
                        y: 0,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 5,
                        y: -1,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 5,
                        y: -2,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 5,
                        y: 3,
                    ),
                    a: N,
                    b: S,
                ),
                (
                    cell: (
                        x: 5,
                        y: -3,
                    ),
                    a: N,
                    b: S,
                ),
            ],
            switches: [],
            signals: [],
        ),
        sources: [
            (
                id: (0),
                cell: (
                    x: -10,
                    y: 0,
                ),
                dir: W,
                label: "Start 1",
            ),
            (
                id: (1),
                cell: (
                    x: -7,
                    y: 3,
                ),
                dir: N,
                label: "Start 2",
            ),
            (
                id: (2),
                cell: (
                    x: -3,
                    y: 3,
                ),
                dir: N,
                label: "Start 3",
            ),
            (
                id: (3),
                cell: (
                    x: 1,
                    y: 3,
                ),
                dir: N,
                label: "Start 4",
            ),
            (
                id: (4),
                cell: (
                    x: 5,
                    y: 3,
                ),
                dir: N,
                label: "Start 5",
            ),
        ],
        sinks: [
            (
                id: (0),
                cell: (
                    x: 9,
                    y: 0,
                ),
                dir: E,
                label: "Ziel 1",
            ),
            (
                id: (1),
                cell: (
                    x: -7,
                    y: -3,
                ),
                dir: S,
                label: "Ziel 2",
            ),
            (
                id: (2),
                cell: (
                    x: -3,
                    y: -3,
                ),
                dir: S,
                label: "Ziel 3",
            ),
            (
                id: (3),
                cell: (
                    x: 1,
                    y: -3,
                ),
                dir: S,
                label: "Ziel 4",
            ),
            (
                id: (4),
                cell: (
                    x: 5,
                    y: -3,
                ),
                dir: S,
                label: "Ziel 5",
            ),
        ],
        schedule: [
            (
                train: (0),
                class: (0),
                length: (1500),
                speed: (100),
                source: (0),
                sink: (0),
                depart: (10),
                due: (229),
            ),
            (
                train: (1),
                class: (0),
                length: (2000),
                speed: (100),
                source: (1),
                sink: (1),
                depart: (10),
                due: (108),
            ),
            (
                train: (2),
                class: (0),
                length: (2000),
                speed: (100),
                source: (2),
                sink: (2),
                depart: (50),
                due: (148),
            ),
            (
                train: (3),
                class: (0),
                length: (2000),
                speed: (100),
                source: (3),
                sink: (3),
                depart: (90),
                due: (188),
            ),
            (
                train: (4),
                class: (0),
                length: (2000),
                speed: (100),
                source: (4),
                sink: (4),
                depart: (140),
                due: (227),
            ),
        ],
        par: (throughput: (219), material: 15, lateness: 0),
    ),
)